#kezdokep{
    width: 100%;
    height: 85dvh;
    min-height: 500px;
    background-image: url("../src/img/jumanji-kezdokep.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Bungee Spice", sans-serif;
    transition: 0.5s all;
    position: relative;
    box-shadow: 0cqmin -1cqmin 1cqmin inset;

    section{
        width: 100%;
        height: 32cqmin;
        min-height: 12.8rem;
        background-color: rgba(0,0,0, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h2{
            font-size: max(1rem, calc(min(4cqmin, 2cqmax) + 1rem));
            height: 1cqb;
        }
        img{
            height: max(11.2rem, 28cqmin);
        }
    }
    video{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


@media screen and (width <= 1440px) {
    #kezdokep{
        height: 60vh;
    }
}

@media screen and (width <= 1024px) {
    #kezdokep{
        height: 40vh;
    }
}

@media screen and (width <= 768px) {
    #kezdokep{
        height: 20vh;
        min-height: 300px;

        section{

            img{
                height: max(8rem, 28cqmin);
            }
        }
    }
}