nav{
    height: 15vh;
    min-height: 100px;
    width: 100%;
    background-image: url("../src/img/log_bark\ \(2\).jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    position: relative;
    
    div{
        padding: 2cqmin;
        border-radius: 10%;
        border-inline: solid max(0.32rem, 0.8cqmin) rgba(255,255,255,0);
        transition: all 0.2s;

        &:is(:hover,:focus,:target,:active){
            border-inline: solid 0.8cqmin rgba(255,255,255,0.5);
            animation-name: nav-border;
            animation-duration: 0.5s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            animation-delay: 0.3s;
        }
        a{
            font-size: max(2rem, calc(min(4cqmin, 1.3cqmax) + 1rem));
            font-family: "Bungee Spice", sans-serif;
            text-shadow:
            max(0.12rem, -0.3cqmin) max(0.12rem, 0.3cqmin) rgb(255, 255, 255),
            max(0.12rem, 0.3cqmin) max(0.12rem, 0.3cqmin) rgb(255, 255, 255),
            max(0.12rem, 0.3cqmin) max(0.12rem, -0.3cqmin) rgb(255, 255, 255),
            max(0.12rem, -0.3cqmin) max(0.12rem, -0.3cqmin) rgb(255, 255, 255);
            text-decoration: none;
            cursor: pointer;
        }

        
    }

    img{
        display: none;
    }
}

@media screen and (width >= 1440px) {
    nav{
        height: 12vh;
    }
}

@media screen and (width <= 768px) {
    nav{
        height: 10vh;
        min-height: 50px;
        box-shadow: 0cqmin -1cqmin 1cqmin inset;
        transition: all 1s;

        div{
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 0;
            border-inline: none;
            background-image: url("../src/img/log_bark\ \(2\).jpg");
            background-size: cover;
            box-shadow: 0cqmin -1cqmin 1cqmin inset;
            padding: 0;

            a{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
            }
        }
        div:nth-child(1){
            bottom: -100%;
            transform: translateX(-200vw);
        }
        div:nth-child(2){
            bottom: -200%;
            transform: translateX(-300vw);
        }
        div:nth-child(3){
            bottom: -300%;
            transform: translateX(-400vw);
        }
        img{
            position: absolute;
            display: block;
            height: 90%;
            left: 0;
            cursor: pointer;
        }
    }
}