
*{
    margin: 0;
    scroll-behavior: smooth;

}


h1{
    font-family: "Bungee Spice", sans-serif;
    text-shadow:
        max(0.12rem, -0.3cqmin) max(0.12rem, 0.3cqmin) rgb(255, 255, 255),
        max(0.12rem, 0.3cqmin) max(0.12rem, 0.3cqmin) rgb(255, 255, 255),
        max(0.12rem, 0.3cqmin) max(0.12rem, -0.3cqmin) rgb(255, 255, 255),
        max(0.12rem, -0.3cqmin) max(0.12rem, -0.3cqmin) rgb(255, 255, 255);
}

h3, p {
    font-family: "Work Sans", sans-serif;
    color: white;
    font-weight: bold;
}

/* Statisztika */
.heading {
    font-size: 4rem;
    color: red;
    text-align: center;
    padding: 0 1rem;
    padding-top: 6rem;
    letter-spacing: .2rem;
    animation-name: fade;
    animation-timeline: view();
    animation-range-start: 0;
    animation-range-end: 35%;
}

.title {
    padding: 0 1rem;
    font-size: 2rem;
    text-align: center;
    font-weight: 400;
    margin-top: 50px; 
    margin-bottom: 50px;
    color: white;
    font-weight: bold;

    animation-name: fade;
    animation-timeline: view();
    animation-range-start: 0;
    animation-range-end: 35%;
}

.statistics {
    background-image: url(../src/img/jumanji_the_next_level_4k_5k_1_hd_movies.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.statistics .row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

.statistics .row .chart canvas {
    height: 250px;
    width: 750px;
    background-color: white;
    padding: 10px;
    border-radius: 20px ;
    margin-right: 5px;
    margin-bottom: 50px;
}

.statistics .row .content {
    padding-left: 5rem;
}

.statistics .row .content h3 {
    font-size: 3rem;
    color: red;
    font-family: "Bungee Spice", sans-serif;
    text-shadow:
        max(0.12rem, -0.3cqmin) max(0.12rem, 0.3cqmin) rgb(255, 255, 255),
        max(0.12rem, 0.3cqmin) max(0.12rem, 0.3cqmin) rgb(255, 255, 255),
        max(0.12rem, 0.3cqmin) max(0.12rem, -0.3cqmin) rgb(255, 255, 255),
        max(0.12rem, -0.3cqmin) max(0.12rem, -0.3cqmin) rgb(255, 255, 255);
}

.statistics .row .content .back {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.statistics .row .content p {
    font-size: 1.6rem;
    font-family: "Work Sans", sans-serif;
    
    color: rgb(255, 255, 255);
    padding: 1rem 0;

    animation-name: fade;
    animation-timeline: view();
    animation-range-start: 0;
    animation-range-end: 35%;
}

.statistics .row .content button {
    height: 3.5rem;
    width: 17rem;
    background-color: rgb(189, 123, 0);
    color: white;
    border: none;
    border-radius: 5rem;
    box-shadow: 0 .3rem 1rem rgba(0, 0, 0, .3);
    cursor: pointer;
    font-size: 2rem;
    transition: .2s;
    margin-bottom: 50px;
}

.statistics .row .content button:hover {
    font-size: 2.2rem;
    opacity: .8rem;
}


/* Pénz */

.main-roles {
    
    background-image: url(../src/img/jumanji-the-next-level-2019_1563220783.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.main-roles .car-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
}

.main-roles .car-container .card {
    padding: 2rem;
    margin: 2rem;
    border-radius: 1rem;

    background-color: black;
    
    box-shadow: .3rem .3rem 0 .1rem rgb(255, 255, 255),
                .5rem .5rem 5rem rgba(0, 0, 0, .3);
    text-align: center;
    width: 20rem;
    transition: .2s;

}

.main-roles .car-container .card img {
    height: 30rem;
    width: 100%;
    object-fit: cover;
    
    /*filter: grayscale();*/
}

.main-roles .car-container .card:hover {
    transform:translateY(-1rem);
}

.main-roles .car-container .card h3 {
    font-family: "Bungee Spice", sans-serif;
    text-shadow:
        max(0.12rem, -0.3cqmin) max(0.12rem, 0.3cqmin) rgb(255, 255, 255),
        max(0.12rem, 0.3cqmin) max(0.12rem, 0.3cqmin) rgb(255, 255, 255),
        max(0.12rem, 0.3cqmin) max(0.12rem, -0.3cqmin) rgb(255, 255, 255),
        max(0.12rem, -0.3cqmin) max(0.12rem, -0.3cqmin) rgb(255, 255, 255);
    font-size: 2rem;
    padding: .5rem 0;
}

.main-roles .car-container .card p {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}

/* Eredmények */

.accolades {
    background-image: url(../src/img/jumanji_the_next_level_4k_5k_3_hd_movies.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.accolades .box-container {
    width: 85%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 4rem;
    flex-wrap: wrap;
}

.accolades .box-container .box {
    height: 18rem;
    width: 25rem;
    margin: 3.5rem 2rem;
    text-align: center;
    border-radius: 1rem;

    background-color: black;
    
    box-shadow: .3rem .3rem 0 .1rem rgb(255, 255, 255),
                .5rem .5rem 5rem rgba(0, 0, 0, .3);
}


.accolades .box-container .box img {
    height: 10rem;
    width: 10rem;
    line-height: 8rem;
    text-align: center;
    margin-top: -4rem;
}

.accolades .box-container .box p {
    margin-left: 10px;
    margin-right: 10px;

}

.accolades .box-container .box h3 {
    margin-top: 10px;
    margin-bottom: 30px;

}

@keyframes fade {
    0%{opacity: 0; transform: translateY(10em);}
    100%{opacity: 1; transform: translateY(0);}
}



/* Reszponzitivitás */

@media (max-width: 1500px) {
    .statistics .row {
        flex-flow: column-reverse;
    }

    .statistics .row .chart canvas {
        height: 250px;
        width: 750px;
        margin-right: 0;
    }

    .statistics .row .content{
        padding: 0 2.5rem;
    }
}

@media (max-width: 768px) {
    .statistics .row .chart canvas {
        height: 100px;
        width: 500px;
        margin-right: 0;
    }
    .heading{
        font-size: 3rem;
    }
}

@media (max-width: 550px) {
    .statistics .row .chart canvas {
        height: 75px;
        width: 475px;
        margin-right: 0;
    }
}