* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
}

:root {
    --black: rgb(0, 0, 0);
    --back-black: rgba(0, 0, 0, 0.7);
    --white: rgb(255, 255, 255);
    --white-back: rgba(255, 255, 255, 0.7);
}

#szereplok,
#temp {
    flex-direction: column;
    align-items: center;
    gap: 3cqmin;

    background-image: url("../src/img/background_szereplok-blur.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5cqmin;

    section {
        display: flex;
        flex-direction: row;
        width: 100cqmin;
        height: 25cqmin;
        border: var(--black) 2px solid;
        background-color: var(--back-black);
        color: var(--white);

        div:nth-child(1) {
            width: 65cqmin;
            padding: 1cqmin;
            flex-grow: 1;

            h1 {
                font-size: 3cqmin;
                font-family: "Bungee Spice", sans-serif;
            }

            h2 {
                font-size: 2cqmin;
                font-family: "Bungee Spice", sans-serif;
            }

            p {
                font-size: 2cqmin;
            }
        }

        div:nth-child(2) {
            text-align: right;

            img {
                height: 100%;
            }
        }
    }

    button {
        appearance: none;
        font-size: 2cqmin;
        height: 5cqmin;
        width: 30cqmin;
        font-family: "Bungee Spice", sans-serif;
        background-image: url("../src/img/log_bark\ \(2\).jpg");
    }
}

@media screen and (width <=768px) {

    #szereplok,
    #temp {
        section {
            flex-direction: column;
            align-items: center;
            min-height: 75cqmin;
            
            width: 90%;
            border-radius: 7.5px;

            div:nth-child(1){
                width: 100%;
                padding: 10px;

                h1{
                    font-size: 40px;
                }
                h2{
                    font-size: 20px;
                }
                p{
                    font-size: 20px;
                }

            }
            img {
                max-height: 300px;
            }
        }
    }
}