* {
    padding: 0;
    margin: 0;
    /*box-sizing: border-box;*/
}

html,
body {
    width: 100%;
}

:root {
    --black: rgb(0, 0, 0);
    --back-black: rgba(0, 0, 0, 0.7);
    --white: rgb(255, 255, 255);
    --white-back: rgba(255, 255, 255, 0.7);
}


#kezdokep {
    background-image: url("../src/img/jumanji-kezdokep.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: top;
    height: 85dvh;
    width: 100%;
    font-size: 10cqmin;
    display: flex;
    align-items: center;

    transition: 0.5s all;
    position: relative;
    box-shadow: 0cqmin -1cqmin 1cqmin inset;

    h1 {
        background-color: var(--back-black);
        font-family: "Bungee Spice", sans-serif;
        padding: 2cqmin;
        width: 100%;
        text-align: center;
    }
}





#szereplok {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3cqmin;

    background-image: url("../src/img/background_szereplok.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5cqmin;

    section {
        display: flex;
        flex-direction: row;
        width: 100cqmin;
        height: 25cqmin;
        border: var(--black) 2px solid;
        background-color: var(--back-black);
        color: var(--white);

        div:nth-child(1) {
            width: 65cqmin;
            padding: 1cqmin;
            flex-grow: 1;

            h1 {
                font-size: 3cqmin;
                font-family: "Bungee Spice", sans-serif;
            }

            h2 {
                font-size: 2cqmin;
                font-family: "Bungee Spice", sans-serif;
            }

            p {
                font-size: 2cqmin;
            }
        }

        div:nth-child(2) {
            text-align: right;

            img {
                height: 100%;
            }
        }
    }

    button {
        appearance: none;
        font-size: 2cqmin;
        height: 5cqmin;
        width: 30cqmin;
        font-family: "Bungee Spice", sans-serif;
        background-image: url("../src/img/log_bark\ \(2\).jpg");
    }
}









nav {
    height: 15dvh;
    min-height: 100px;
    width: 100%;
    background-image: url("../src/img/log_bark\ \(2\).jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;

    div {
        padding: 2cqmin;
        border-radius: 10%;
        border-inline: solid max(0.32rem, 0.8cqmin) rgba(255, 255, 255, 0);
        transition: all 0.2s;

        &:is(:hover, :focus, :target, :active) {
            border-inline: solid 0.8cqmin rgba(255, 255, 255, 0.5);
            animation-name: nav-border;
            animation-duration: 0.5s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            animation-delay: 0.3s;
        }

        a {
            font-size: max(2rem, calc(min(4cqmin, 1.3cqmax) + 1rem));
            font-family: "Bungee Spice", sans-serif;
            text-shadow:
                max(0.12rem, -0.3cqmin) max(0.12rem, 0.3cqmin) rgb(255, 255, 255),
                max(0.12rem, 0.3cqmin) max(0.12rem, 0.3cqmin) rgb(255, 255, 255),
                max(0.12rem, 0.3cqmin) max(0.12rem, -0.3cqmin) rgb(255, 255, 255),
                max(0.12rem, -0.3cqmin) max(0.12rem, -0.3cqmin) rgb(255, 255, 255);
            text-decoration: none;
            cursor: pointer;
        }
    }
}







@media screen and (width <=768px) {}